POSTGRES_USER=hospital
POSTGRES_PASSWORD=change-me-local-postgres
RABBITMQ_USER=hospital
RABBITMQ_PASSWORD=change-me-local-rabbitmq
APP_SECURITY_JWT_SECRET=change-me-in-local-please-use-a-very-long-secret-key-1234567890
APP_SECURITY_JWT_EXPIRATION_MINUTES=120
